#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark-1);
  border-bottom: 2px solid var(--main-color-1);
  position: sticky;
  top: 0;
  font-size: 1rem;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  height: 67px;
  z-index: 1000 !important;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin-list);
  align-self: stretch;
}
.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 1.5vw;
}
.nav-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.nav-list a {
  padding: var(--margin-list-items);
}

.right-header > * {
  margin: var(--margin-list-items);
}
.find-container {
  display: flex;
  background-color: var(--background-dark-3);
  border-radius: 13px;
  clip-path: fill-box;
  width: fit-content;
  height: fit-content;
  align-self: center;
}
.find-container * {
  background: transparent;
  border: none;
  color: var(--white-text-2);
}
.find-container > button {
  padding: 0;
  height: fit-content;
}
.find-input {
  width: calc(40px + 11vw);
  padding: 0 6px 0 0;
}
.find-icon {
  margin: 6px 10px 4px 6px;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--main-color-1);
}
.find-input::placeholder {
  color: var(--white-low-text)
}
.user-profile {
  align-items: center;
}
.user-profile > svg {
  width: 2.4rem;
}
.user-name {
  padding: var(--margin-list-items);
}

/*Бургер меню*/
.burger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.burger-line {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background: var(--main-color-1);
  transition: all 0.3s;
}

.burger-line::before,
.burger-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--main-color-1);
  transition: all 0.3s;
  right: 0;
}

.burger-line::before {
  transform: translateY(-8px);
}

.burger-line::after {
  transform: translateY(8px);
}

.burger-btn.active .burger-line {
  background: transparent;
}

.burger-btn.active .burger-line::before {
  transform: rotate(45deg);
}

.burger-btn.active .burger-line::after {
  transform: rotate(-45deg);
}

@media (max-width: 970px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 45%;
    max-width: 250px;
    height: 100vh;
    background: var(--background-dark-1);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 10rem 2rem;
    transition: left 0.3s;
    z-index:  100;
  }

  .nav-menu.active {
    left: 0;
    top: 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 1rem;
  }
  .menu-main-ref {
    display: none;
  }

  .burger-btn {
    display: block;
  }
  .logo-image {
    display: none;
  }
  .menu-main-ref {
    display: inline;
  }
  header {
    height: 60px;
  }
}
@media (max-width: 610px) {
  .logo {
    display: none;
  }
}