.main {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  width: 100%;
}

.left-find-menu {
  background: var(--background-dark-3);
  border: 30px;
  border-radius: 20px;
  color: var(--white-text-1);
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: 0.5fr repeat(8, 1fr);
  align-items: center;
  padding: 10px;
  gap: 20px;
  position: sticky;
  top: 20px;
  height: min-content;
  transition: all, 0.3s;
}

.left-menu-title {
  grid-column: span 2;
  text-align: center;
  font-size: 1.2rem;
  color: var(--main-color-1);
}

.left-find-menu > select {
  background: var(--background-dark-2);
  color: var(--white-text-1);
  width: 100%;
  border-radius: 4px;
  padding: 4px;
}

.games-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  color: var(--white-text-1);
  margin: 20px 20px 20px 0;
}

.selected-game {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  justify-content: center;
  background: var(--background-dark-3);
  border-radius: 20px;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.selected-text-container {
  display: grid;
  grid-template-rows: 1.5fr 1.2fr 1fr 1fr;
  gap: 20px;
  align-self: stretch;
}

.selected-game > * {
  margin: 15px;
}

.board {
  border-radius: 30px;
  padding: 20px;
}

.game-history {
  background: var(--background-dark-2);
}

#selected-game-name {
  font-size: 1.2rem;
}

.selected-game-status {
  justify-self: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1vw;
}

.selected-game-player {
  font-size: 1.1rem;
}

.win-rating {
  color: var(--win-green);
  font-size: 0.9rem;
}

.lose-rating {
  color: var(--lose-red);
  font-size: 0.9rem;
}

.player-rating {
  color: var(--gray-white);
  font-size: 0.9rem;
}

.selected-game-win {
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.selected-game-time {
  align-self: end;
}

.table-div {
  height: 165px;
}

.right-container {
  margin: 20px;
}

.unselected-game {
  background: var(--background-dark-3);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.unselected-game:hover {
  cursor: pointer;
}

.unselected-image {
  scale: 0.5;
  margin: -100px;
  border-radius: 20px;
}

.unselected-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

.unselected-game-info {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
  gap: 20px;
}

.unselected-date {
  align-self: end;
  margin: 0 20px 5px 0;
}

.unselected-game-info > div {
  align-self: center;
}

@media (max-width: 1300px) {
  .left-find-menu {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .left-find-menu select {
    margin: 0 0 15px 0;
  }
  .left-menu-title {
    grid-column: span 1;
  }
  .left-menu-title {
    font-size: 1rem;
  }
  .right-container {
    margin-left: 5px;
  }
  .selected-text-container {
    margin-right: 5px;
  }
}
@media (max-width: 991px) {
  .selected-text-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1.2fr 1fr 1fr;
  }
  .selected-game {
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-template-columns: 1fr;
  }
  .board {
    justify-self: center;
  }
  .selected-game-time {
    align-self: start;
  }
  .pieces-container {
    display: none !important;
  }
  .left-find-menu, .unselected-game, .selected-game, .board {
    border-radius: 10px;
  }
  .right-container {
    margin: 10px;
  }
}

@media (max-width: 680px) {
  .unselected-image {
    display: none;
  }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr;
    gap: 10px;
  }
  .board {
    height: 300px;
  }
  .left-find-menu > span, select {
    display: none;
  }
  html {
    font-size: 14px !important;
  }
  .games-container, .left-find-menu {
    margin: 10px;
  }
  .left-find-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .left-menu-title {
    font-size: 1.2rem;
    user-select: none;
  }
  .left-menu-title:hover {
    cursor: pointer;
    color: var(--main-hover-color-1);
  }
  .left-find-menu select {
    margin-bottom: 5px;
  }
  .left-find-menu span {
    margin-top: 10px;
  }
}