@import url("../CSS/site.css");

/*MAIN*/
main {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-auto-flow: column;
  font-family: 'MontserratAlt', cursive, sans-serif;
  background-image: url("../img/Board.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 42%;
  background-attachment: fixed;
  height: 710px;
}
.news-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 2.4vw;
  align-self: center;
  color: var(--white-text-2);
  align-items: center;
}
.news-sidebar > a {
  margin: 3vh 0;
}
.news-header {
  color: var(--white-text-2);
  text-align: center;
  margin-top: 4vw;
  margin-bottom: -1vw;
  font-size: 1.1rem;
}
.news-container {
  background-color: var(--background-dark-3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  width: fit-content;
  overflow: clip;
}
.news-container * {
  color: var(--white-text-2);
  font-size: 0.9rem;
  text-align: center;
  text-wrap: wrap;
}
.news-container img {
  border-bottom: 1px solid var(--white-text-2);
  display: block;
  max-width: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-items: center;
  row-gap: 2.2vw;
}
.button-container button:first-child {
  grid-column: 1 / span 2;
}
.button-container button {
  background-color: var(--background-dark-3);
  color: var(--main-color-1);
  border-radius: 30px;
  border: none;
  width: calc(473px);
  height: calc(30px + 1.1vw);
  font-size: 1.6rem;
}
.button-container button:hover {
  background-color: var(--main-color-1);
  color: var(--background-dark-2);
}

/*FOOTER*/
footer {
  background-color: var(--background-dark-1);
  color: var(--white-text-2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: 0.9rem;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: var(--margin-list);
  gap: 1vw;
}
footer a {
   color: var(--white-text-1);
 }
footer a:hover {
  color: var(--blue-link-hover);
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list-left {
  gap: 3vw;
}

@media (max-width:1170px){
  main {
    grid-template-columns: 200px 1fr;
  }
  .button-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .button-container button:first-child {
    grid-column: 1;
  }
}
@media (min-width: 768px) and (max-width:991px){

}
@media (min-width: 480px) and (max-width:767px){

}