@import url("../CSS/variables.css");
@import url("../CSS/reset.css");

/*ALL DOCUMENT*/
html {
  font-size: var(--font-size);
  background-image: url("../img/BackgroundPieces.svg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--background-dark-2);
}
a, button {
  cursor: pointer;
}
body {


  background-size: 82%;
  font-family: 'Roboto', Arial, sans-serif;

}

a {
  color: var(--main-color-1);
  transition: color 0.3s;
}
@media (hover: hover) {
  a:hover {
    color: var(--main-hover-color-1);
  }
}

a:active {
  color: var(--main-hover-color-1);
}

/*MAIN*/
/*#region GameRightContainer*/
.right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95%;
}

.pieces-container {
  border-radius: 15px;
  background: var(--background-dark-1);
  border: 1px solid var(--gray-white);
  display: flex;
  width: 80%;
  padding: 4px 6px;

  color: var(--gray-white);
  align-items: center;
  font-size: 1.2rem;
}

.right-game-container {
  background: var(--background-dark-3);
  border-radius: 20px;
  margin: 1.5rem 0;
  border: 1px solid var(--white-text-1);
}
.right-header {
  display: flex;
  align-items: center;
}
.time-right {
  font-size: 2.5rem;
  color: var(--white-text-1);
  margin: 0 1vw;
}
.menu-main-ref {
  display: none;
}
.player-name-right {
  font-size: 1.5rem;
  margin: 0;
  color: var(--gray-white);
}
.player-name-right:hover {
  color: var(--blue-link-hover);
}
.right-center-container {
  border-bottom: 1px solid var(--white-text-2);
  border-top: 1px solid var(--white-text-2);
}
.right-button-container {
  display: flex;
  justify-content: center;
}
.right-button-container > button {
  background: var(--background-gray-3);
  border-radius: 10px;
  border: 1px solid var(--white-text-2);
  margin: 0.8rem 1rem;
  padding: 3px;
  color: var(--white-text-2)
}
.right-button-container > button:hover {
  color: var(--background-gray-1);
  background: var(--white-text-2);
}


/*HISTORY-TABLE*/
.history-table {
  background: #323232;
  color: var(--white-text-2);
  font-family: 'RobotoThin', sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.table-div {
  overflow-y: scroll;
  height: 85px;
}
.history-table th:not(:first-child) {
  text-align: left;
  width: 50%;
  padding: 0 0 0 1rem;
}
.history-table th:not(:first-child):hover {
  background: var(--blue-link-hover);
  cursor: pointer;
}
.history-table tr:nth-child(2) th:nth-child(2) {
  background: var(--background-blue);
  font-family: 'RobotoLight', sans-serif;
}
.history-table th:first-child {
  background: var(--background-gray-1);
  padding: 0 1rem;
}

@media (max-width: 991px) {
  html {
    background-image: url("/src/img/BackgroundPiecesSmall.svg");
  }
}
