@import url("../CSS/variables.css");
@import url("../CSS/reset.css");
@import url("../CSS/media-queries.css");
@import url("../CSS/fonts.css");

/*ALL DOCUMENT*/
html {
  font-size: var(--font-size);
}
a, button {
  cursor: pointer;
}
body {
  background-color: var(--background-dark-2);
  background-image: url("../img/BackgroundPieces.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 82%;
  font-family: 'Roboto', Arial, sans-serif;
}

/*HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark-1);
  border-bottom: 2px solid var(--main-color-1);
  position: relative;
  top: 0;
  font-size: 1rem;
  max-width: 1800px;
  box-sizing: border-box;
  margin: 0;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin-list);
  align-self: stretch;
}
.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 1.5vw;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list a {
  padding: var(--margin-list-items);
}

.right-header > * {
  margin: var(--margin-list-items);
}
.find-container {
  display: flex;
  background-color: var(--background-dark-3);
  border-radius: 13px;
  clip-path: fill-box;
  width: fit-content;
  height: fit-content;
  align-self: center;
}
.find-container * {
  background: transparent;
  border: none;
  color: var(--white-text-2);
}
.find-container > button {
  padding: 0;
}
.find-input {
  width: calc(40px + 11vw);
  padding: 0 6px 0 0;
}
.find-icon {
  margin: 6px 6px 4px 6px;
  fill: var(--main-color-1);
}
.find-input::placeholder {
  color: var(--white-low-text)
}
.user-profile {
  align-items: center;
}
.user-profile > svg {
  width: 2.4rem;
}
.user-name {
  padding: var(--margin-list-items);
}

a {
  color: var(--main-color-1);
}
a:hover {
  color: var(--main-hover-color-1);
}

/*MAIN*/
/*#region GameRightContainer*/
.right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95%;
}

.pieces-container {
  border-radius: 15px;
  background: var(--background-dark-1);
  border: 1px solid var(--gray-white);
  display: flex;
  width: 80%;
  padding: 4px 6px;

  color: var(--gray-white);
  align-items: center;
  font-size: 1.2rem;
}

.right-game-container {
  background: var(--background-dark-3);
  border-radius: 20px;
  margin: 1.5rem 0;
  border: 1px solid var(--white-text-1);
}
.right-header {
  display: flex;
  align-items: center;
}
.time-right {
  font-size: 2.5rem;
  color: var(--white-text-1);
  margin: 0 1vw;
}
.player-name-right {
  font-size: 1.5rem;
  margin: 0;
  color: var(--gray-white);
}
.player-name-right:hover {
  color: var(--blue-link-hover);
}
.right-center-container {
  border-bottom: 1px solid var(--white-text-2);
  border-top: 1px solid var(--white-text-2);
}
.right-button-container {
  display: flex;
  justify-content: center;
}
.right-button-container > button {
  background: var(--background-gray-3);
  border-radius: 10px;
  border: 1px solid var(--white-text-2);
  margin: 0.8rem 1rem;
  padding: 3px;
  color: var(--white-text-2)
}
.right-button-container > button:hover {
  color: var(--background-gray-1);
  background: var(--white-text-2);
}


/*HISTORY-TABLE*/
.history-table {
  background: #323232;
  color: var(--white-text-2);
  font-family: 'RobotoThin', sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.table-div {
  overflow-y: scroll;
  height: 85px;
}
.history-table th:not(:first-child) {
  text-align: left;
  width: 50%;
  padding: 0 0 0 1rem;
}
.history-table th:not(:first-child):hover {
  background: var(--blue-link-hover);
  cursor: pointer;
}
.history-table tr:nth-child(2) th:nth-child(2) {
  background: var(--background-blue);
  font-family: 'RobotoLight', sans-serif;
}
.history-table th:first-child {
  background: var(--background-gray-1);
  padding: 0 1rem;
}
/*#endregion RegionName*/