:root {
  --main-color-1: #F7CC57;
  --background-dark-1: #292929;
  --background-dark-2: #303030;
  --background-dark-3: #3F3F3F;
  --white-text-footer: #E5E5E5;
  --white-text-2: #FEFEFE;
  --news-header-text: #EFEFEF;
  --white-low-text: rgb(200, 200, 200);
  --margin-list: calc(0.1vh + 0.1vw) calc(0.6vh + 0.6vw);
  --margin-list-items: 0 0.4rem;
  --font-size: 16px;
}

@font-face {
  font-family: "MontserratAlt";
  src: url("../Fonts/MontserratAlternates-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: var(--font-size);
}
body {
  background-color: var(--background-dark-2);
  background-image: url("../Img/BackgroundPieces.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 82%
}

/*HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-dark-1);
  border-bottom: 2px solid var(--main-color-1);
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  font-size: 1rem;
}
header a {
  color: var(--main-color-1);
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin-list);
  align-self: stretch;
}
.logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 1.5vw;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-1);
}
.menu-list a {
  padding: var(--margin-list-items);
}

.right-header > * {
  margin: var(--margin-list-items);
}
.find-container {
  display: flex;
  background-color: var(--background-dark-3);
  border-radius: 13px;
  clip-path: fill-box;
  width: fit-content;
  height: fit-content;
  align-self: center;
}
.find-container * {
  background: transparent;
  border: none;
  color: var(--white-text-2);
}
.find-input {
  width: calc(40px + 11vw);
}
.find-icon {
  min-width: 20px;
  margin: 2px;
}
.find-input::placeholder {
  color: var(--white-low-text)
}
.user-profile {
  align-items: center;
}
.user-name {
  padding: var(--margin-list-items);
}

/*MAIN*/
main {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-auto-flow: column;
  font-family: 'MontserratAlt', cursive, sans-serif;
  background-image: url("../Img/Board.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 42%;
  background-attachment: fixed;
  height: 85vh;
}
.news-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 2.4vw;
  align-self: center;
  color: var(--news-header-text);
  align-items: center;
}
.news-sidebar > a {
  margin: 3vh 0;
}
.news-header {
  color: var(--news-header-text);
  text-align: center;
  margin-top: 4vw;
  margin-bottom: -1vw;
  font-size: 1.1rem;
}
.news-container {
  background-color: var(--background-dark-3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  grid-row: 2;
  width: fit-content;
  overflow: clip;
}
.news-container * {
  color: var(--news-header-text);
  font-size: 0.9rem;
  text-align: center;
  text-wrap: wrap;
}
.news-container img {
  border-bottom: 1px solid var(--news-header-text);
  display: block;
  max-width: 100%;
}

.button-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-items: center;
  row-gap: 2.2vw;
}
.button-container button:first-child {
  grid-column: 1 / span 2;
}
.button-container button {
  background-color: var(--background-dark-3);
  color: var(--main-color-1);
  border-radius: 30px;
  border: none;
  width: 29vw;
  height: calc(30px + 1.1vw);
  font-size: 1.6rem;
}
.button-container button:hover {
  background-color: var(--main-color-1);
  color: var(--background-dark-2);
}

/*FOOTER*/
footer {
  background-color: var(--background-dark-1);
  color: var(--white-text-2);
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: var(--margin-list);
  gap: 1vw;
}
footer a {
   color: var(--white-text-footer);
 }
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-list-left {
  gap: 3vw;
}
/*ALL DOCUMENT*/
a, button {
  cursor: pointer;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}